body{
background-color: rgb(25, 31, 53);
}
h1{
    color: rgb(182, 194, 205);
    text-align: center;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 15.5px;
 background-color: rgb(159, 158, 165);
 
}

